body
{

    background-color: #1c5179;
    margin:0; 

}

.title
{
    width: 100%;
    height: 300px;
    background: #e8e0cb;
    position: relative;
}

h2 
{
    background-color: #F9F5EB;
    position: absolute;
    top : 50%;
    left : 50%;
    transform: 
    translate(-50%, -50%);
    margin: 0;
    padding : 0;
    font-size:6em;
    color: transparent;
    text-transform: uppercase;
    cursor: pointer;
}
h2 span:nth-child(1) 
{
    background-color: #F9F5EB;
    position: absolute;
    top: 0;
    left:0;
    color: rgb(0, 0, 0);
    transition: 0.5s;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
    overflow: hidden;
}
h2:hover span:nth-child(1)
{
    transform: translateY(-18px);
}
h2 span:nth-child(2){
    background-color: #F9F5EB;
    position: absolute;
    top:0;
    left: 0;
    color: rgb(0, 0, 0);
    transition: 0.5s;
    clip-path:polygon(0 50%,100% 50%, 100% 100%, 0 100%);
    overflow: hidden;
}
h2:hover span:nth-child(2)
{
    transform: translateY(18px);
}
h2 span:nth-child(3){
    position: absolute; 
    top:50%;
    left: 0;
    transform: translateY(-50%) scaleY(0);
    width: 96%;
    color: #000;
    background: #e4b42a;
    font-size: 0.25em;
    letter-spacing: 0.7em;
    text-align: center;
    padding-left: 20px;
    margin-left: 5px;
    transition: 0.5s ;
}


h2:hover span:nth-child(3)
{
    transform: translateY(-50%) scaleY(1);
}

.rectanguloRelleno
{
    position: absolute;
    width: 100%;
    height: 120px;
    background-color: #F9F5EB;
    top: 31%;
}

.fase_1
{
    position: relative;
    width: 100%;
    height: 650px;
    top: 90px;
    background: #e8e0cb;
}

.recuadro_para_texto
{
    position: absolute;
    width: 50%;
    height: 80px;
    top: 10%;
    left: 3%;
    border-radius: 25px;
    box-shadow: -17px 16px rgb(214, 202, 179);

    background: #F9F5EB;
}

.espacio_bloques
{
    position: absolute;
    width: 92%;
    height: 300px;
    top: 38%;
    left:4%;
    border-radius: 25px;
    background: #F9F5EB;
    border-style: solid;
    border-color: #F9F5EB;
    border-width:5px;
    box-shadow: -17px 16px rgb(214, 202, 179);
}

.text1
{
    position: absolute;
    left: 15%;
    top: 5%;
    right: 15%;
    bottom: 20%;
    font-family: Verdana;
    font-family: 'PT Sans';
    font-size: 25px;
    font-style:oblique;
}

footer
{
    background-color:#080d23;
    position: relative;
    top:280px;
    width: 100%;
    height: 200px;
    color: white;
}
footer p 
{
    position: absolute;
    left: 10%;

}

footer p br
{
    display: block;
}

.form{
    width: 100%;
    height: 50px;
    max-width: 400px;
    position: relative;
    overflow: hidden;
    left :55%;
    top : 80px;
}
.form input{
    width: 100%;
    height: 100%;
    background: none;
    color: rgb(0, 0, 0);
    padding-top: 10px;
    border: none;
    outline: 0px;
}
.form .lbl-nombre{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid #c7c7c7;
}
.form .lbl-nombre:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #1c5179;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}
.text-nomb{
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
    color: rgb(214, 202, 179);
}
.form input:focus + .lbl-nombre .text-nomb,.form input:valid + .lbl-nombre .text-nomb{
    transform: translateY(-150%);
    font-size: 14px;
    color: #1c5179;
}
.form input:focus + .lbl-nombre:after, .form input:valid + .lbl-nombre:after{
    transform: translateX(0%);
}
@media only screen and (min-width:320px) and (max-width:768px){
 .form{
    width:85%;
}
}




